/* setting spacing to override default */
p {
    padding: 0;
    margin:0; 
}

/* imported this font */
h1 {
    font-family: "Montserrat";
    text-align: center;
    font-size: 45px;
}

/* imported this font */
h2 {
    font-family: "Montserrat"; 
    font-size: 35px;
}

/* imported this font */
h3 {
    font-family: "Montserrat"; 
    font-size: 22px;
}

h4 {
    font-family: "Montserrat"; 
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    border: 2px solid;
    background-color: #4a1812;
    color: #866c69;
    width:fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 5px 10px;
    margin-bottom: 30px;
    margin-top: 50px;
}

h5 {
    font-family: "Montserrat"; 
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    font-style: italic;
}

/* this is incase i take the animation off, i have the background color set */
body {
    background-color: #D4B8B1;
    margin: 0;
    padding: 0;
}

/* applying flexbox properties to my container */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

/* setting margins to 0 to override default space */
body, .background-container {
    margin: 0;
    padding: 0;
}

/* trying out some subtle background animation */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(45deg, #D4B8B1, #CD8C8C, #866c69, #4a1812);
    background-size: 400% 400%;
    animation: gradientAnimation 7s ease infinite;
}

/* trying out some subtle background animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.title {
    margin-bottom: 50px;
    margin-top: 50px;
}
/* i want to get this items to spread across the nav bar but can't figure out how */
/* setting the color scheme, spacing, and border in the header */
header {
    background-color: #4a1812;
    border-bottom: 6px solid #866c69;
    border-top: 6px solid #866c69;
    margin-bottom: 10px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

/* setting how the items in my list appear, using flexbox properties */
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    
}

/* setting the color scheme, spacing, and border in the footer */
footer {
    background-color: #4a1812;
    border-top: 6px solid #866c69;
    border-bottom: 6px solid #866c69;
    text-align: center;
    padding: 10px;
    color: #D4B8B1;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
}

/* setting spacing, borders, and the alignment of the text */
article {
    margin: 20px auto;
    border: 2 px solid #4a1812;
    padding: 50px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 8px  #4a1812;
    text-align: left;
}

/* setting the color and spacing on the nav bar */
nav {
    background-color: #4a1812;
    padding: 20px;
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0 10px;
}

/* styling how the dropdown options on profile looks */
.dropdown-options {
    display: none;
    position: absolute;
    background-color: #4a1812;
    width: 110px;
    z-index: 1;
    text-align: left;
    padding: 10px;
    height: 110px;
}

/* setting the shape of the drop down options from profile */
.dropdown:hover .dropdown-options {
    display: flex;
    flex-direction: column;
}

.profile-container {
    display: flex;
    align-items: flex-start; /* Align items at the start of the cross axis */
}

/* setting the color the button shows on hover */
button:hover {
    background-color: #966c69;
}

/* setting the color and spacing of the button */
/* I would like to put some space between the button & message box but can't get it to move */
button {
    border: 2px solid #4a1812;
    background-color:  #4a1812;
    color: #D4B8B1;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

/* setting how my links on the page look */
a {
    color: #D4B8B1;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* setting the hover color on and clickable links on the page */
a:hover {
    background-color: #966c69;
}

/* adjusting flexbox properties */
main {
    flex: 1; /* Grow to fill whatever the remaining space is */
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
}

/* making sure the form is spaced well and border matching picture */
form {
    border: 3px solid #4a1812;
    width: 50%;
    margin: 0 auto 20px;
    border-radius: 50px;
    padding: 30px;
    box-sizing: border-box;
}

/* creating a little space between the forms */
.form-label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.email {
    text-align: center;
    padding-top: 20px;
}

/* making the labels stand out a little more with the bold effect */
label {
    font-size: 16px;
    font-weight: bold;
}

/* targeting the text in my form to be a certain color */
::placeholder {
    color:  #D4B8B1;
}

/* spacing in text area */
input, textarea {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid #4a1812;
}

/* putting a border around my picture and setting the size */
#profile-picture {
    border-radius: 50px;
    border: 3px solid #4a1812;
    width: 400px;
    height: auto;
    margin-right: 20px;
}

/* making the text the same color as nav bar so page flows better */
div {
    color: #4a1812 
}

/* spacing out my contact links to fill the container nicely */
.contact_links {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.certifications-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the gap between images as needed */
}

.certifications li {
    flex: 0 0 auto; /* Reset flex-basis */
    max-width: 50%;
    margin-right: 20px;
    margin-left: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.certifications img {
    width: 100%; 
    height: 100%; 
    border: 10px solid #4a1812;
}

.certifications ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; 
}

.text-container {
    font-size: 18px;
    text-align: left;
}

.ed-container {
    font-size: 18px;
    text-align: left;
}

.ed-container li {
    text-align: left;
}

.goals-container {
    font-size: 18px;
    text-align: left;
}

.goals-container ul li {
    display: block;
    margin-right: 30px;
    margin-left: 30px;
}
.experience-container {
    font-size: 20px;
}

.Languages ul,
.Frameworks ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; /* items wrap to the next line if they exceed the container width */
    justify-content: space-between; 
    width: 100%;
} 

.Languages ul li,
.Frameworks ul li {
    margin: 10px; /* Add some spacing between the items */
}

.Languages img {
    width: 100px; 
    height: 100px; 
} 

.Frameworks img {
    width: 100px; 
    height: 100px; 
}

#react {
    width: 220px;
} 

.languageAndFramework-container {
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    width: 100%;
}

.Languages,
.Frameworks {
    flex: 1;
    flex-basis: calc(100% - 20px); 
    margin-bottom: 20px; 
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    #profile-picture {
        margin-bottom: 20px; 
    }

    .text-container {
        text-align: center;
    }

    .title,
    .bio {
        margin-top: 20px; 
    }
}

/* Media query for screens smaller than 480px */
@media only screen and (max-width: 480px) {
    .container {
        padding: 5px;
    }
}

@media (min-width: 768px) {
    .certifications li {
        flex-basis: 45%; 
    }
}